@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@200&display=swap");
body {
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: 07; }

@media screen and (max-width: 280px) {
  img.logo {
    width: 90px; }
  .nav {
    flex-direction: column; } }

@media screen and (max-width: 576px) {
  img.logo {
    width: 130px; }
  .nav {
    flex-direction: column; } }

@media screen and (max-width: 1000px) {
  .nav {
    flex-direction: column; } }

@media screen and (max-width: 331px) {
  img.logo {
    width: 100px; }
  .nav {
    flex-direction: column; } }

.black {
  background-color: rebeccapurple;
  opacity: 1; }

li {
  display: inline-block;
  text-align: right; }

#selectores div ul li a{
 
  /* width: 33.3%; */
  height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }

  #selectores div .wsp a{
    background-color: #00bb2d;
  }
  #selectores div .t a{
    background-color: black ;
  }
  #selectores div .ig a{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

h1,
h2 {
  font-family: 'Gantari', sans-serif; }

li a:hover {
  background: blueviolet;
  margin: auto;
  text-align: right; }

h1 {
  background-color: gray; }

  .redes{
    display: flex;
    padding-left: 0rem;
  }
  .redes li{
    width: 100%;
  }
